body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/smoky3.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 12px;
    text-decoration: none;
    color: #c3ccc8;
}

h1 {
    font-size: 1.5em;
    color: #525252;
}

.box1 {
    background: white;
    width: 300px;
    border-radius: 6px;
    margin: 200px auto;
    padding: 0px 0px 70px 0px;
    border: #b92c40 4px solid;
}

.username {
    background: #fdfffd;
    border: #f5f7f5 1px solid;
    border-bottom: #fdfffd 2px solid;
    padding: 8px;
    width: 250px;
    color: #6a6d71;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.password {
    border-radius: 4px;
    background: #fdfffd;
    border: #fdfffd 1px solid;
    color: #616161;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}

.btn1 {
    position: center;
    background: #d82a4e;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #bcc2cc 1px solid;

    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 80px;
    font-weight: 800;
    font-size: 0.8em;
}

.btn1:hover {
    background: #ea2a51;
}

#btn2 {
    float: left;
    background: #b92c40;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #b9002d 1px solid;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: 800;
    font-size: 0.8em;
}

#btn2:hover {
    background: #ea2a51;
}