<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

        <style>
            .dropbtn {
                background-color: #cc2a4c;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {background-color: #ddd;}

            .dropdown:hover .dropdown-content {display: block;}

            .dropdown:hover .dropbtn {background-color: #cc2a4c;}
        </style>

        <meta name="description" content="WebUni Education Template">
        <meta name="keywords" content="webuni, education, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="shortcut icon"/>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
              rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/../css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="/../css/font-awesome.min.css" type="text/css"/>
        <link rel="stylesheet" href="/../css/owl.carousel.css" type="text/css"/>
        <link rel="stylesheet" href="/../css/style.css" type="text/css"/>


        <!--[if lt IE 9]>
        <script src="/../https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="/../https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body>
<div>
    <div th:insert="fragments :: header">...</div>
</div>
<div class="page-info-section set-bg" data-setbg="/../img/page-bg/smokyBig.png">
    <div class="container">
        <div class="site-breadcrumb">
            <h1 th:align="center" style="color: #e9ecef">Admin panel</h1>
            <br>
        </div>
        <div th:align="left">
            <div class="dropdown">
                <div class="dropdown" style="z-index: 999;">
                    <button class="dropbtn" style="z-index: 999;">Show all</button>
                    <div class="dropdown-content" th:align="left" style="z-index: 999;">
                        <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin/teachers">Teachers</a>
                        <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin/students">Students</a>
                        <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin/courses">Courses</a>
                        <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin/pending">Pending Accounts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<section class="container" sec:authorize="hasAuthority('ROLE_ADMIN')" th:object="${admin}">
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink">
                <h2>
                    <span th:text="'Username: '+ ${admin.getUsername()}"></span>
                    <strong th:text="'Email: '+${admin.getEmail()}">
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive"
                             th:src="@{'data:image/png;base64,'+${image}}">
                    </div>
                </div>
            </article>
        </div>
        <div class="col-lg-6">
            <!-- Tabs -->
            <div class="tab-element">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Create new admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Edit profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Change profile picture</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- single tab content -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                                <div class="col-md-9 personal-info">
                                    <form class="form-horizontal" action="#" th:action="@{/admin/new}" th:object="${systemUserModel}" method="post">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Username:</label>
                                            <div class="col-md-8">
                                                <input class="form-control" th:field="*{username}" type="text" placeholder="username"  minlength="5" maxlength="50"
                                                       onFocus="field_focus(this, 'username');" onblur="field_blur(this, 'username');" pattern="^[A-Za-z0-9_-]{5,50}$" required
                                                       title="The username must contain only latin letters, numbers, and hyphens/underscores." >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Password:</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="password" th:field="*{password}"  minlength="5" maxlength="50"
                                                       placeholder="password" onFocus="field_focus(this, 'password');" id="password" onblur="field_blur(this, 'password');"
                                                       pattern="[^' ']*" required
                                                       title="Password should be between 5 and 50 characters and contain no trailing spaces">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Confirm:</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="password" minlength="5" id="confirm_password" maxlength="50"
                                                           placeholder="confirm password" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" th:field="*{email}" type="text"
                                                       placeholder="email"  minlength="5" maxlength="50" required
                                                       pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                       title="Please enter a valid emial address"
                                                       onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-dark" value="Save Changes">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="row">
                            <div class="col-md-9 personal-info">
                                <form class="form-horizontal" action="#"  th:action="@{/edit}"  method="post" th:object="${systemUserModel}"  >
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Username:</label>
                                        <div class="col-md-8">
                                            <input class="form-control" th:field="*{username}" type="text" th:placeholder="${admin.getUsername()}"
                                                   pattern="^[A-Za-z0-9_-]{5,50}$"
                                                   title="The username must contain only latin letters, numbers, and hyphens/underscores.">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Password:</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="password" th:field="*{password}" minlength="5" maxlength="50"
                                                   pattern="[^' ']*" title="Password should be between 5 and 50 characters and contain no trailing spaces"
                                                   id="password2">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Confirm:</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="password" minlength="5" id="confirm_password2" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Email:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" th:field="*{email}" type="email" th:placeholder="${admin.getEmail()}"
                                                   pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                   title="Please enter a valid emial address"
                                                   minlength="5" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-8">
                                            <input type="submit" class="btn btn-dark" value="Save Changes">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <form action="#" th:action="@{/admin/newAvatar}" th:method="post" enctype="multipart/form-data">
                            <br>
                            <input name="file" type="file" required>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-dark" value="Save Changes">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:fragment="footer"></div>

<!--====== Javascripts & Jquery ======-->
<script src="/../js/jquery-3.2.1.min.js"></script>
<script src="/../js/bootstrap.min.js"></script>
<script src="/../js/mixitup.min.js"></script>
<script src="/../js/circle-progress.min.js"></script>
<script src="/../js/owl.carousel.min.js"></script>
<script src="/../js/main.js"></script>
<script src="/../js/ConfirmationPassword.js"></script>
<script type="text/javascript">
    function myFunction() {
        alert("Please note you will be automatically logged out after changing your username.\n" +
            "But no worries, you will be able to log in with the new one straight away!");
    }
</script>

</body>
</html>
