<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>

    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/../img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/../css/owl.carousel.css"/>
    <link rel="stylesheet" href="/../css/style.css"/>

    <style>output {
        position: absolute;
        background-image: linear-gradient(#444444, #999999);
        width: 40px;
        height: 30px;
        text-align: center;
        color: white;
        border-radius: 10px;
        display: inline-block;
        font: bold 15px/30px Georgia;
        bottom: 45%;
        left: 0;
        margin-left: -1%;
    }

    output:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid #999999;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
    }</style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

<div>
    <div th:insert="fragments :: header">...</div>
</div>

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/../img/page-bg/smokyBig.png">
    <div class="container">
        <div class="site-breadcrumb">
            <!--<a href="/">Home</a>
            <span>Course Details</span>-->
        </div>
    </div>
</div>


<div th:object="${course}">


    <section class="single-course spad pb-0">
        <div class="container">
            <div class="course-meta-area">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="course-note">Preview</div>
                        <h3 th:text="${course.title}"></h3>
                        <div class="course-metas">
                            <div class="course-meta">
                                <div class="course-author">
                                    <div class="ca-pic set-bg" th:data-setbg="${authorImage}"></div>
                                    <h6>Author</h6>
                                    <p th:text="${course.author.username}"><span
                                            th:text="${course.author.email}"></span></p>
                                </div>
                            </div>
                            <div class="course-meta">
                                <div class="cm-info">
                                    <h6>Category</h6>
                                    <p th:text="${course.category.category}"></p>
                                </div>
                            </div>
                            <div class="course-meta">
                                <div class="cm-info">
                                    <h6> Length </h6>
                                    <p th:if="${course.lessons.size()>0}"
                                       th:text="${course.lessons.stream().distinct().count()} + ' videos'"></p>
                                    <p th:if="${course.lessons.size()==0}">Still in construction </p>
                                </div>
                            </div>
                            <div class="course-meta">
                                <div class="cm-info">
                                    <h6>Rating</h6>
                                    <p th:if="${courseAVGRating == 0}">None<span class="rating">


									</span></p>
                                    <p th:if="${courseAVGRating != 0}" th:text="${courseAVGRating}"><span
                                            class="rating">

									</span></p>
                                </div>

                            </div>
                        </div>


                        <form th:if="${!isUserCurrentlyEnrolled and course.author.userId != academyUser.userId and !hasUserCompletedThisCourse}"
                              action="#"
                              th:action="@{'/' + ${course.id} +'/details'}"
                              method="post">
                            <button type="submit" for="customRange3" class="site-btn price-btn">Enroll</button>
                        </form>


                        <form th:if="${hasUserCompletedThisCourse and course.author.userId != academyUser.userId}"
                              action="#"
                              th:action="@{'/' + ${course.id} +'/details'}"
                              th:method="put">
                            <div class="d-flex justify-content-center my-4">
                                <span class="font-weight-bold purple-text mr-2 mt-1">1</span>

                                <input type="range" name="rating" class="custom-range" min="1" max="100" step="1"
                                       id="customRange3"/>
                                <output for="rating" onforminput="value = foo.valueAsNumber;"></output>
                                <span class="font-weight-bold purple-text ml-2 mt-1">100</span>
                            </div>
                            <br>
                            <button type="submit" for="customRange3" class="site-btn price-btn">Rate</button>

                        </form>
                        <div style="display: flex">
                            <form th:if="${course.author.userId == academyUser.userId}" action="#"
                                  th:action="@{'/' + ${course.id} +'/details'}"
                                  th:method="delete">
                                <button type="submit" for="customRange3" class="site-btn price-btn">Delete</button>
                            </form>
                            <br>
                            &nbsp; &nbsp;
                            <form th:if="${course.author.userId == academyUser.userId and course.submitted == false}"
                                  action="#"
                                  th:action="@{'/' + ${course.id} +'/details/submit'}"
                                  th:method="put">
                                <button type="submit" for="customRange3" class="site-btn price-btn">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="featured-courses">
            <div class="featured-course course-item">
                <div class="course-thumb set-bg2" th:data-setbg2="${categoryImage}" style=" height: 100%;">
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 pl-0">
                        <div class="course-info">
                            <div th:object="${course}" class="course-text">
                                <h5>Description</h5>
                                <p th:text="${course.description}" style="overflow: hidden"></p>
                                <br>
                                <h5>Content</h5>
                                <div th:if="${course.lessons.size()>0}"
                                     th:each="lesson :  ${course.lessons.stream().distinct().toArray()}">
                                    <ul class="contact-list" style="padding-left: 10px">
                                        <a th:href="@{'/'+ ${course.id} + '/lessons/' + ${lesson.id}}">
                                            <li th:text="'Lesson: ' + ${lesson.title}"
                                                style="font-size: 14px; font-weight: 500; margin-outside: 30px">
                                        </a>
                                        </li>
                                    </ul>

                                </div>
                                <p th:if="${course.lessons.size()==0}">To be anounced soon! </p>
                            </div>
                            <div class="course-author">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div><br></div>


        <div class="row">
            <div class="col-lg-10 offset-lg-1 course-list">
                <div class="cl-item">

                    <br>
                    <button th:if="${course.author.userId == academyUser.userId}" class="site-btn" type="submit"
                            onclick="myFunction()">Edit
                    </button>
                    <br>
                    <form action="#" th:action="@{'/'+${course.id} +'/details/edit'}" id="myDIV" style="display: none"
                          th:method="put">
                        <br>
                        <h6>Edit Course Description</h6>
                        <br>
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" name="description"
                                  type="text"   th:text="${course.description}"></textarea>
                        <br>
                        <button class="site-btn" type="submit">Save</button>
                    </form>

                    <br>
                    <div><br></div>


                </div>

            </div>
        </div>

    </section>
</div>


<div th:insert="fragments :: footer">...</div>

</body>
<script src="/webjars/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap.min.js"></script>
<script src="/../js/mixitup.min.js"></script>
<script src="/../js/circle-progress.min.js"></script>
<script src="/../js/owl.carousel.min.js"></script>
<script src="/../js/main.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script>var el, newPoint, newPlace, offset;

// Select all range inputs, watch for change
$("input[type='range']").change(function () {

    // Cache this for efficiency
    el = $(this);

    // Measure width of range input
    width = el.width();

    // Figure out placement percentage between left and right of input
    newPoint = (el.val() - el.attr("min")) / (el.attr("max") - el.attr("min"));

    offset = 1;

    // Prevent bubble from going beyond left or right (unsupported browsers)
    if (newPoint < 0) {
        newPlace = 0;
    } else if (newPoint > 1) {
        newPlace = width;
    } else {
        newPlace = width * newPoint + offset;
        offset -= newPoint;
    }

    // Move bubble
    el
        .next("output")
        .css({
            left: newPlace,
            marginLeft: offset + "%"
        })
        .text(el.val());
})
// Fake a change to position bubble at page load
    .trigger('change');</script>

</html>