<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/../css/login.css">
    <link rel="stylesheet" href="/../css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/../css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/../css/owl.carousel.css" type="text/css"/>
    <link rel="stylesheet" href="/../css/style.css" type="text/css"/>
</head>
<body>

<div th:insert="fragments :: header">...</div>

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="/../img/smoky3.png">
    <div class="container">
        <div class="hero-text text-white">
            <h2 style=" text-shadow: 2px 2px 6px #000000;">Sorry, it seems a problem occurred!</h2>

            <h4 style=" text-shadow: 2px 2px 6px #000000;" th:text="${e}"> </h4>

        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <form class="intro-newslatter">
                    <a   onclick="history.back()" class="site-btn2" style="left: 39%">Back</a>

                </form>
            </div>
        </div>
    </div>
</section>

<div th:insert="fragments :: footer">...</div>


</body>
<script src="/webjars/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap.min.js"></script>
<script src="/../js/mixitup.min.js"></script>
<script src="/../js/circle-progress.min.js"></script>
<script src="/../js/owl.carousel.min.js"></script>
<script src="/../js/main.js"></script>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>