<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Judge</title>

    <style>
        .my-del-btn {
            display: inline-block;
            min-width: 196px;
            text-align: center;
            border: none;
            padding: 15px 10px;
            font-weight: 600;
            font-size: 16px;
            position: relative;
            color: #fff;
            cursor: pointer;
            background: #3e3e3e;
        }

        .submit-btn {
            display: inline-block;
            min-width: 196px;
            text-align: center;
            border: none;
            padding: 15px 10px;
            font-weight: 600;
            font-size: 16px;
            position: relative;
            color: #3e3e3e;
            cursor: pointer;
            background: greenyellow;
        }
    </style>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            border-color: #d82a4e;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 7px 8px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: #d82a4e;
            color: #3e3e3e;
            background-color: #adb5bd;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 7px 8px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: #d82a4e;
            color: #fdf6e3;
            background-color: #3e3e3e;
        }

        .tg .tg-ntt9 {
            background-color: #ffffff;
            color: #ffffff;
            border-color: #d82a4e;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-73oq {
            border-color: #d82a4e;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-iks7 {
            background-color: #d82a4e;
            border-color: #d82a4e;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-bw1t {
            background-color: #adb5bd;
            text-align: left;
            vertical-align: top
        }
    </style>

    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/../css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/../css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/../css/owl.carousel.css" type="text/css"/>
    <link rel="stylesheet" href="/../css/style.css" type="text/css"/>


    <!--[if lt IE 9]>
    <script src="/../https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/../https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div>
    <div th:insert="fragments :: header">...</div>
</div>
<div class="page-info-section set-bg" data-setbg="/../img/page-bg/smokyBig.png">
    <div class="container">
        <div class="site-breadcrumb"><div class="text-white">
            <h2 th:align="center" style="color: #e9ecef; text-shadow: 2px 2px 6px #000000; font-size: 60px;">Judge System</h2>
            <br></div>
        </div>
    </div>
</div>

<section class="signup-section spad">
    <div class="signup-bg set-bg" data-setbg="/../img/penguin5.jpg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="signup-warp">
                    <div class="section-title text-white text-left">
                        <h2>Pending homeworks</h2>
                    </div>
                </div>
                <table class="tg" align="center" th:each="homework: ${homeworks}" style="width: 650px" >
                    <tr>
                        <th class="tg-73oq" th:text="'From: ' + ${homework.getStudent().getUsername()}" style="width: 300px; font-weight: bold">
                        </th>
                        <th class="tg-iks7" rowspan="2">
                            <a th:href="'/' + ${homework.getHomework_id()} + '/getStudentHomework'">
                                <button type="button" class="submit-btn header-btn"> Get Homework</button>
                            </a>
                        </th>
                        <th class="tg-iks7" rowspan="2">
                            <form th:action="'/' + ${homework.getHomework_id()} + '/grade'" th:method="post">
                                <button type="submit" class="my-del-btn header-btn"> Grade</button>
                                <input type="number" name = "grade" min="1" max="100" pattern="[1-9]" class="tg-iks7" required
                                style="background: #adb5bd;width: 196px" placeholder="Enter grade">
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <td class="tg-bw1t" th:text="${homework.getLesson().getTitle()}" style="width: 300px; font-weight: bold" ></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


    <div th:fragment="footer"></div>

    <!--====== Javascripts & Jquery ======-->
    <script src="/../js/jquery-3.2.1.min.js"></script>
    <script src="/../js/bootstrap.min.js"></script>
    <script src="/../js/mixitup.min.js"></script>
    <script src="/../js/circle-progress.min.js"></script>
    <script src="/../js/owl.carousel.min.js"></script>
    <script src="/../js/main.js"></script>
</body>
</html>