<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson Details</title>

    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/../css/owl.carousel.css"/>
    <link rel="stylesheet" href="/../css/style.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div>
    <div th:insert="fragments :: header">...</div>
</div>

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/../img/page-bg/smokyBig.png">
    <div class="container">
        <div class="site-breadcrumb">
            <a th:object="${lesson}" th:href="'/'+ ${lesson.course.id} +'/details'">Back to course</a>
            <br>
        </div>
    </div>
</div>

<div th:object="${lesson}">


    <section class="single-course spad pb-0">
        <div class="container">
            <div class="course-meta-area">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <h3 th:text="${lesson.title}"></h3>
                        <div class="course-metas">
                            <div class="course-meta">
                                <div class="course-author">
                                    <div class="ca-pic set-bg" th:data-setbg="${authorImage}"></div>
                                    <h6>Author</h6>
                                    <p th:text="${lesson.course.author.username}"><span
                                            th:text="${lesson.course.author.email}"></span></p>
                                </div>
                            </div>
                            <div class="course-meta">
                                <div class="cm-info">
                                    <h6>Category</h6>
                                    <p th:text="${lesson.course.category.category}"></p>
                                </div>
                            </div>
                            <div class="course-meta">
                                <div class="cm-info">
                                    <h6> Length </h6>
                                    <p th:text="${lessonIndex} + '/' +${courseTotalLessons}"></p>
                                </div>
                            </div>
                            <div class="course-meta">
                                <div class="cm-info" th:if="${lesson.course.author.userId != academyUser.userId}">
                                    <h6>Your Grade</h6>
                                    <p th:if="${grade == 0}">None yet <span class="rating">
                                    <p th:if="${grade != 0}" th:text="${grade} + ' points'"><span class="rating">
									</span></p>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex">
                            <form th:if="${isLessonCompleted and lesson.course.author.userId != academyUser.userId}"
                                  action="#" style="display: flex"
                                  th:action="@{'/'+${lesson.course.id} +'/lessons/' + ${lesson.id}}"
                                  th:method="post" enctype="multipart/form-data">
                                <label for="homework" class="site-btn">Select Homework</label>
                                &nbsp;
                                <input id="homework" name="file" type="file" style="display: none" required> &nbsp; &nbsp;

                                <button class="site-btn price-btn" th:if="${isLessonCompleted}" type="submit"
                                        id="myDiv2"
                                        style="display: flex;">Save
                                </button>
                                <br>
                            </form>


                            <form th:if="${lesson.course.author.userId == academyUser.userId}" action="#"
                                  th:action="@{'/'+${lesson.course.id} +'/lessons/' + ${lesson.id}}"
                                  th:method="delete">
                                <button th:if="${lesson.course.author.userId == academyUser.userId}" class="site-btn"
                                        type="submit">Delete
                                </button>
                            </form>
                            &nbsp; &nbsp;
                            <button th:object="${academyUser}"
                                    th:if="${lesson.course.author.userId == academyUser.userId}"
                                    class="site-btn" type="submit"
                                    onclick="myFunction()">Edit
                            </button>
                            &nbsp; &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

    <div class="row" id="myDIV" style="display: none">
        <div class="col-lg-10 offset-lg-1 course-list">
            <div class="cl-item">
                <form action="#" th:action="@{'/'+${lesson.course.id} +'/lessons/' + ${lesson.id} + '/edit'}"
                      th:method="put">
                    <h4>Edit Lesson Description</h4>
                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" name="description"
                              type="text" pattern="^[a-zA-Z0-9\s]+" title="The description must contain only latin letters, numbers and spaces." th:text="${lesson.lessonDescription}"></textarea>
                    <br>
                    <button class="site-btn" type="submit">Save</button>
                </form>
            </div>

        </div>
    </div>


    <div class="featured-courses"
         th:if="${academyUser.getEnrolledCourses().contains(lesson.course)
         or lesson.course.author.userId == academyUser.userId
         or academyUser.getWatchedLessons().contains(lesson)}">
        <div class="featured-course course-item">
            <div class="course-thumb set-bg2">
                <div
                        style="text-align: center">
                    <div th:if="${isPreviousHomeworkSubmitted
                    or lesson.course.author.userId == academyUser.userId }">
                        <iframe if="video" style="padding-top: 0px" width="560" height="315"
                                th:src="${lesson.video.url}"
                                frameborder="3"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

                    </div>


                    <div th:unless="${isPreviousHomeworkSubmitted or lesson.course.author.userId == academyUser.userId}"
                         class="row">
                        <div class="col-lg-10 offset-lg-1 course-list">
                            <div class="cl-item">
                                <h4>Please submit your homework for the previous lesson</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-6 pl-0">
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Description</h5>
                            <p th:text="${lesson.lessonDescription}"></p>
                            <br>
                            <span th:if="${isLessonCompleted}">
                            <a class="site-btn price-btn"
                               th:object="${lesson}"
                               th:href="'/' + ${lesson.id} + '/gethomework'">Download Assignment</a>
                      </span>

                        </div>
                        <div class="course-author">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${(!academyUser.getEnrolledCourses().contains(lesson.course))
    and (lesson.course.author.userId != academyUser.userId) and !academyUser.getWatchedLessons().contains(lesson)}"
         class="row">
        <div class="col-lg-10 offset-lg-1 course-list">
            <div class="cl-item">
                <h4 style="text-align: center">Please enroll the course to watch the lesson</h4>
            </div>
        </div>
    </div>

    <div class="container">

        <!--        <div class="well well-sm text-center">
                    <div th:if="${isPreviousHomeworkSubmitted and lesson.course.author.userId != academyUser.userId
                    and isStudentEnrolled == true and !isLessonCompleted}"
                         class="btn-group" data-toggle="buttons">
                        <form action="#"
                              th:action="@{'/'+${lesson.course.id} +'/lessons/' + ${lesson.id}}"
                              th:method="PUT">
                            <span class="glyphicon glyphicon-ok"> <button class="site-btn"
                                                                          type="submit">Mark as completed</button>
                            </span>
                        </form>
                    </div>
                </div>-->
        <div>&nbsp;</div>
        <div class="well well-sm text-center">

            <div th:if="${isPreviousHomeworkSubmitted and lesson.course.author.userId != academyUser.userId
            and isStudentEnrolled == true and !isLessonCompleted}"
                 class="btn-group" data-toggle="buttons">
                <form action="#"
                      th:action="@{'/'+${lesson.course.id} +'/lessons/' + ${lesson.id}}"
                      th:method="PUT">
                    <span class="glyphicon glyphicon-ok"> <button class="site-btn"
                                                                  type="submit">Mark as completed</button>
                    </span>
                </form>
            </div>
            <!--  th:if="${(isPreviousHomeworkSubmitted and isLessonCompleted)
           or  lesson.course.author.userId == academyUser.userId  }"-->
            <div class="btn-group" data-toggle="buttons">

                <form class="intro-newslatter">
                    <a onclick="history.back()" class="site-btn2">Back</a>
                </form>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                <form action="#"
                      th:action="@{'/'+${lesson.course.id} +'/lessons/' + ${lesson.course.lessons.get(lessonIndex).id}}"
                      method="GET" th:if="${lessonIndex < courseTotalLessons}">
                    <span class="glyphicon glyphicon-ok"> <button class="site-btn"
                                                                  type="submit">Next Lesson</button>
                    </span>
                </form>


            </div>
        </div>


    </div>


</div>


<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<div th:insert="fragments :: footer">...</div>

</body>
<script src="/webjars/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap.min.js"></script>
<script src="/../js/mixitup.min.js"></script>
<script src="/../js/circle-progress.min.js"></script>
<script src="/../js/owl.carousel.min.js"></script>
<script src="/../js/main.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            alert('The file "' + fileName +  '" has been selected.');
        });
    });
</script>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>