<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Lesson</title>

    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../css/style.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div>
    <div th:insert="fragments :: header">...</div>
</div>


<!-- Page info -->
<div th:if="${!lessonDTO.course.isSubmitted()}" class="page-info-section set-bg"
     data-setbg="../img/page-bg/smokyBig.png">
    <div class="container">
        <div class="site-breadcrumb">
            <a th:object="${lessonDTO}" th:href="'/'+ ${lessonDTO.course.id} +'/details'">Back to course</a>
        </div>
    </div>
</div>
<!-- Page info end -->


<section th:unless="${lessonDTO.course.isSubmitted()}" class="signup-section spad">
    <div class="signup-bg set-bg" data-setbg="../img/laptops.jpg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="signup-warp">
                    <div class="section-title text-white text-left">
                        <h2>Add new lesson</h2>
                        <p>"I have come to believe that a great teacher is a great artist and that there are as few as
                            there are any other great artists. <br>
                            Teaching might even be the greatest of the arts since the medium is the human mind and
                            spirit." <br>
                            John Steinbeck
                        </p>
                    </div>
                    <form class="signup-form" action="#"
                          th:action="@{'/'+${lessonDTO.getCourse().getId()} +'/newlesson'}" th:object="${lessonDTO}"
                          method="post" enctype="multipart/form-data">
                        <input th:field="*{title}" type="text" placeholder="Title" minlength="5" maxlength="50"
                               pattern="^[a-zA-Z0-9\s\,\.\-]+"  title="The title must be between 5 and 50 characters and should contain only latin letters, numbers and spaces." required>
                        <input th:field="*{lessonDescription}" type="text" placeholder="Description" minlength="5"
                               required pattern="^[a-zA-Z0-9\s\,\.\-\?]+"  title="The description must be minimum 5 characters and should contain only latin letters, numbers and spaces." >
                        <input name="videoTitle" type="text" placeholder="Video Title" minlength="3" maxlength="100"
                               pattern="^[a-zA-Z0-9\s\,\.\-\?]+"  title="The video title must be between 3 and 100 contain only latin letters, numbers and spaces."
                               required>
                        <input name="videoURL" type="text" placeholder="Video Url"
                               pattern="https?://www.youtube.com/.+|https?://youtu.be/.+"
                               title="Please, enter a valid youtube URL" required>
                        <br>
                        <label for="v-upload" class="file-up-btn">Homework</label>
                        <input name="file" type="file" id="v-upload" required>
                        <button class="site-btn" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section th:if="${lessonDTO.course.isSubmitted()}" class="hero-section set-bg" data-setbg="/../img/smoky3.png">
    <div class="container">
        <div class="hero-text text-white">
            <h2 style=" text-shadow: 2px 2px 6px #000000;">No new lessons can be added after the course has been
                submitted!</h2>

        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <form class="intro-newslatter">
                    <a onclick="history.back()" class="site-btn2">Back</a>

                </form>
            </div>
        </div>
    </div>
</section>

<!--
<h4 th:if="${lessonDTO.course.isSubmitted()}" style="text-align: center">No new lessons can be added as the course has been submitted</h4>
-->

<div th:insert="fragments::footer"></div>

<!--====== Javascripts & Jquery ======-->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/mixitup.min.js"></script>
<script src="../js/circle-progress.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>
<script>
    function validateYoutubeURL(url) {
        var regex = /https?:\/\/youtu(be\.com|\.be)\/.+/;
        return regex.test(url.toLowerCase());
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            alert('The file "' + fileName + '" has been selected.');
        });
    });
</script>
</body>
</html>